<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

    <div th:fragment="nav" class="container">
        <a href="/" class="navbar-brand">
            QuoVadis
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        Strona główna
                    </a>
                </li>
                <li class="nav-item">
                    <a href="gallery" class="nav-link">
                        Galeria
                    </a>
                </li>
                <li class="nav-item">
                    <a href="contact" class="nav-link">
                        Kontakt
                    </a>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a href="register" class="nav-link">
                        Rejestracja
                    </a>
                </li>
                <li class="nav-item"  sec:authorize="hasAnyRole('ROLE_USER')">
                    <a sec:authentication="name" href="/userpage" class="nav-link">
                    </a>
                </li>
                <li class="nav-item"  sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <a sec:authentication="name" href="/adminpage" class="nav-link">
                    </a>
                </li>
                <li class="nav-item"   sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
                    <a href="/logout" class="nav-link">
                        Wyloguj
                    </a>
                </li>
                <li class="nav-item"   sec:authorize="isAnonymous()">
                    <a href="/login" class="nav-link">
                        Zaloguj
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div th:fragment="footer" class="container">
        <div class="row">
            <div class="col-md-8">
                <h5>QuoVadis</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque cum dicta dolore et magni
                    maiores minima nemo nisi non, nostrum quod. Autem dolorem laborum magnam, perspiciatis placeat quam
                    unde.</p>
            </div>
            <div class="col-md-4">
                <form action="get">
                    <h5>Newsletter</h5>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="adres e-mail">
                        <a class="btn btn-primary">
                            Zapisz się
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
</html>


