<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href="@{/scss/style.css}" rel="stylesheet" />
    <link th:href="@{/scss/kontakty.css}" rel="stylesheet" />
    <link th:href="@{/assets/fontello-93f72c97/css/fontello.css}" rel="stylesheet" />

    <title>Biuro podróży QuoVadis</title>
</head>
<body>
<header>
    <nav th:insert="nav.html :: nav" class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark"></nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="jumbotron-bg"
                 th:style="'background: url(/assets/background.jpg) center center / cover no-repeat;'"></div>
            <div id="ani" style="position: relative">
                <h1 class="display-4">Witamy w biurze QuoVadis</h1>
                <p class="lead">Lorem ipsum</p>
                <p class="lead">Lorem ipsum dolor sit amet</p>
                <a href="gallery" id="jbutton" class="btn btn-lg btn-outline-info">
                    Zobacz miejsca w które możesz z nami pojechać
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Strona główna</a>
        <div id="1breadcrumb" class="breadcrumb-item active">Kontakt</div>
    </nav>
    <main class="container">
        <h1>Dane kontatktowe do biura:</h1>
        <div class="my-5">
            <table>
                <tr>
                    <td>
                        <span class="icon-phone"></span>
                    </td>
                    <td>
                        Numer telefonu: 555-555-555, konsultanci są do państwa dyspozycji od 7-17 od poniedziałku do
                        piątku
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="icon-address"></span>
                    </td>
                    <td>
                        Adres: Warszawa Wiejska 7/9 00-000, główna siedziba
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="icon-mail"></span>
                    </td>
                    <td>
                        Adres e-mail: quovadis@biuro.com
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="icon-facebook-squared"></span>
                    </td>
                    <td>
                        Facebook: <a href="https://www.facebook.com/SSWEiI/" target="_blank">QuoVadis</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="icon-instagram"></span>
                    </td>
                    <td>
                        Instagram: <a href="https://www.instagram.com/marutaro/" target="_blank">@QuoVadis</a>
                    </td>
                </tr>
            </table>
        </div>

    </main>
</div>
<div class="slideshow-container">
    <div class="py-5 bg-image-full mySlides fade"
             style="height: 350px; background: url('https://images.unsplash.com/photo-1590571139619-36163c7b66b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80') center center / cover no-repeat;">
    </div>
    <div class="py-5 bg-image-full mySlides fade"
             style="height: 350px; background: url('https://images.unsplash.com/photo-1590489318510-706ec902c47e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80') center center / cover no-repeat;">
    </div>
    <div class="py-5 bg-image-full mySlides fade"
             style="height: 350px; background: url('https://images.unsplash.com/photo-1590274853751-8fb10591d007?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80') center center / cover no-repeat;">
    </div>
    <div class="py-5 bg-image-full mySlides fade"
             style="height: 350px; background: url('https://images.unsplash.com/photo-1590415000895-04ab80fcd2da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') center center / cover no-repeat;">
    </div>
</div>
<footer th:insert="nav.html :: footer" class="bg-dark py-4 mt-3"></footer>
<div class="stopka py-2">
    <p class="text-center m-0">&copy;CP</p>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/przyciski.js}"></script>
<script type="text/javascript" th:src="@{/js/slide.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>