
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Proszę się zalogować</title>
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <link th:href="@{/scss/style.css}" rel="stylesheet" />
</head>
<body style="padding: 0">
<header>
    <nav th:insert="fragments.html :: nav" class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark"></nav>
</header>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Proszę się zalogować</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>

        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" name="remember-me" id="remember-me">
            <label class="form-check-label" for="remember-me">Zapamiętaj logowanie</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
    </form>
</div>
<footer class="fixed-bottom">
    <div th:insert="fragments.html :: footer" class="bg-dark py-4 mt-3"></div>
    <div class="stopka py-2">
        <p class="text-center m-0">&copy;CP</p>
    </div>
</footer>
</body>
</html>