<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href="@{/scss/userpage.css}" rel="stylesheet" />
    <link th:href="@{/scss/style.css}" rel="stylesheet" />
    <title>UserPage</title>
</head>
<body>
<header>
    <nav th:insert="fragments.html :: nav" class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark"></nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="jumbotron-bg"
                 th:style="'background: url(/assets/background.jpg) center center / cover no-repeat;'">
            </div>
            <div id="ani" style="position: relative">
                <h1 class="display-4">Witamy w biurze QuoVadis</h1>
                <p class="lead">Lorem ipsum</p>
                <p class="lead">Lorem ipsum dolor sit amet</p>
                <a href="gallery" id="jbutton" class="btn btn-lg btn-outline-info">
                    Zobacz miejsca w które możesz z nami pojechać
                </a>
            </div>

        </div>
    </div>
</header>
<div class="container">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Strona główna</a>
        <div id="1breadcrumb" class="breadcrumb-item active">Profil użytkownika</div>
    </nav>

    <main class="row">
        <div class="col-md-3">
            <h3 class="mb-4">Ustawienia</h3>
            <div class="list-group">
                <button id="info" class="list-group-item active list-group-item-action text-white">
                    Informacje
                </button>
                <button id="change" class="list-group-item list-group-item-action text-white" style="background-color: #56B4D3 !important;">
                    Zmień dane
                </button>
                <button id="delete" class="list-group-item list-group-item-action text-white" style="background-color: #dc3545 !important;">
                    Usuń konto
                </button>
                <button sec:authorize="hasAnyRole('ROLE_ADMIN')" id="addOffer" class="list-group-item list-group-item-action text-white" style="background-color: #4c3656 !important;">
                    Dodaj oferte
                </button>
            </div>
        </div>
        <div th:fragment="userContent" id="userPageContent" class="col-md-9">
            <div th:insert="fragments.html :: userpage" ></div>
        </div>
        <div class="col-lg-8 mx-auto">
            <h2 class="lead h2 "> Moje Wycieczki: </h2>
        <div class="row">
            <div th:fragment="offer"  id="oferty" class="accordion" style="position: relative">
                <div class="row">
                    <div th:each="trip : ${Trips}" class="col-md-4">
                        <div class="card">
                            <img id="wroclaw"
                                 th:src="${trip.img_url}" alt=""
                                 th:attr="data-target=${'#collapse' + trip.id}, aria-controls=${'collapse' + trip.id}"
                                 class="card-img-top" data-toggle="collapse"
                                 aria-expanded="true">
                            <div class="card-body">
                                <h4 th:text="${trip.title}" id="title1" class="card-title mb-0"></h4>
                                <span th:text="${trip.summary}" id="summary1" class="mt-0"></span>
                            </div>
                            <div th:id="${'collapse' + trip.id}" class="collapse hide" data-parent="#oferty">
                                <div class="col-md-12" id="offerInfo1">
                                    <h3 th:text="${trip.bodytitle}" id="bodytitle1"></h3>
                                    <p th:text="${trip.info}" id="info1"></p>
                                    <br/>
                                    <ul>
                                        <li th:text="${trip.imie}"></li>
                                        <li th:text="${trip.nazwisko}"></li>
                                        <li th:text="${'Dane kontaktowe: ' + trip.email + ' ' + trip.tel}"></li>
                                        <li th:text="${'Adres: '+ trip.miasto + ' ' + trip.adres + ' ' + trip.zip}"></li>
                                        <li th:text="${'Wyjazd: '+ trip.wyjazd}"></li>
                                        <li th:text="${'Powrot: '+ trip.powrot}"></li>
                                        <li th:text="${'Opcje: '+ trip.opcje}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div th:text="${trip.price + ' zł/os'}" id="footer1" class="card-footer text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
</div>
<footer th:insert="fragments.html :: footer" class="bg-dark py-4 mt-3"></footer>
<div class="stopka py-2">
    <p class="text-center m-0">&copy;CP</p>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/userpage.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>